@charset "Utf-8"

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*paleta de cores
#c5ebd6
#83elad
#3ddc84
#2fq866
#la5c37
#063dle
*/
:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}
body {
    background-color: beige;
    font-family: var(--fonte-padrao);

}
header {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor04));
    padding: 10px;
}
header > h1 {
    color: var(--cor06);
    font-family: var(--fonte-destaque);
    text-align: center;
}
header p {
    color: white;
    text-align: center;
}
nav a {
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.5s;
}
nav a:hover {
    background-color: var(--cor03);
    text-decoration: underline;
}
main {
    background-color: var(--cor01);
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
}
p {
    text-align: justify;
}
aside {
    background-color: var(--cor02);
    border-radius: 15px;
    padding: 10px;
}
abbr {
    color: blue;
}
footer {
    background-color: var(--cor05);
    color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding-left:  20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
